{% extends "base.html" %}

{% block title %}
    Feedback
{% endblock%}

 {% block sidebar %}
 {% endblock%}


{% block content %}

<div class= "main wrapper  clearfix">
<section>
    <form action="" method="post">
    	<table>
	        <tr>
		        <td>Please enter your feedback..!    </td>
		        <td><input type='text' name='url'? </td>
	        </tr>
	        <tr>
		        <td> </td>
		        <td> <button type='submit'> submit</button></td>
	        </tr>
      </table>
    </form>
</section>
</div>
{% endblock %}