{% extends "base.html" %}
{% block title %}
    Sale
{% endblock%}
{% block content %}
<article>
    <header>
        <h1> Varieties of Tea.!</h1>
    </header>
    <section>
        <h1> Lemon Tea</h1>
        <body>
        	<img src="../static/img/Lemon-tea.jpg" alt = "Lemon Tea">
        </body>
        <h3>
            Amazing Advantages Of Adding Lemon Tea To Your Diet:
        </h3>
        <p>Detoxifies The Body.</p>
        <p>Boosts Digestive Function.</p>
        <p>Combats Infectious Ailments.</p>
        <p>Enhances Skin Wellness.</p>
        <p>Promotes Heart Health.</p>
        <p>Treats Post-Operative Edemas.</p>
        <p>Remedies Inflamed Gums.</p>
    </section>   
    <section>
        <h1>Ginger Tea</h1>
        <body>
            <img src="../static/img/ginger-tea.png" alt = "Ginger Tea">
        </body>
        <h3>Amazing Advantages Of  Ginger Tea:</h3>
        <p>lower blood pressure</p>
        <p>prevent heart attacks</p>
        <p>prevent blood clots</p>
        <p>relieve heartburn</p>
        <p>lower cholesterol</p>
        <p>improve blood circulation</p>
    </section> 

    
</article>
{% endblock %}